# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for data science 
- Commonly used libraries for data science 
- Data science tools
- simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow 
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools|
|-------------------|
|Rstudio            |
|Apache Spark       |
|TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Arturo Rivas Rodriguez